extends layout

block content
  h1= title
  p Welcome to #{title}
  p The real fun happens at <a href="/feed">feed</a> endpoint.
  p <a href="https://github.com/chepe263/podcast-parser">Project page</a>
